.Image {
    border: 5px solidlinear-gradient(white, rgba(61, 22, 22, 0.226), black);
    background-image: linear-gradient(white, rgba(61, 22, 22, 0.226), black);
    margin:-5px;
    display: flex;
    position: relative;
    width: 60%;
    margin-left: 150px;
    margin-bottom: 50px;
}
.Static {
    display: flex;
    width: 100%;
}
.Menu {
    background-image: linear-gradient(white, rgba(61, 22, 22, 0.226), black);
    display: flex;

    border: 5px solid linear-gradient(grey, rgba(61, 22, 22, 0.226), grey);;
    display: flex;
    width: 20%;
    position: relative;
    margin-bottom: 50px;
}