.Product {
    border: 2px solid white;
    width: 450px;
    height: 750px;
    background-color: white;
    display: block;
    margin-left: 5% ;
}
.Product-Img {
    width: 280px;
    height: 280px;  
    margin: 0 10%;
    /* margin-right: 10%; */
    padding: 2%;
}
.Product-Card {
  
    margin: 2%;
    padding: 2%;
    color: rgb(15, 15, 48);
    font-size: 18px;
    display: block;
}
.Button {
    margin: 0 40%;
    padding: 2%;
}