* {
    /* height: 100%; */
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}
html {
    /* background-color: linear-gradient(white blue rgba(165, 42, 42, 0.055)); */

    /* background-image: url(../static/Best-Gold-Jewelry-Under-50.jpg); */

    box-sizing: border-box;
    height: 100%;
}

body {
    /* border: 3px solid white; */
   
    box-sizing: border-box;
}
.BackgroundAdmin {
    background-image: url(https://image.freepik.com/free-vector/abstract-metallic-blue-background-texture_52683-20746.jpg);

}
.Ad {
    box-sizing: border-box;
   
}
.AdminLogo {
height: 400px;  
    color: aliceblue;
    font-family: 'Parisienne', cursive;
    font-size: 48px;
    margin-top:10%;
    margin-left: 35%;
}