.App {
    text-align: center;
    display: block;
}

.App-logo {
    height: 300px;
    width: 300px;
    pointer-events: none;
    margin-bottom: 8%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
     
        animation: App-logo-spin infinite 40s linear;
    }
}

.App-cover {
    background-color: transparent;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center; 
    font-size: calc(10px + 2vmin);
    color: white; 
   margin-bottom: 50px;
}
p {
    margin-top: -10px;  
    font-size: 34px;
}

/* .Main {
    display: block;    
} */ 

.App-link {
    color: #151615;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}