html {
    /* background-image: url(../static/Best-Gold-Jewelry-Under-50.jpg); */
    /* background-image: url(../static/messika-landing-joaillerie-lucky-move.jpg);  */

    box-sizing: border-box;
    height: 100%;
  
}

.BackgroundHome {
    /* background-image: linear-gradient(white, rgba(61, 22, 22, 0.226), black); */

   background-image: url(../static/gold-jewelry-background-vector-2075787.jpg); 
    background-repeat: repeat-y;
    background-position-y: top;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
img {
    padding: 50px;
    orientation:inherit;
    height: 400px;
    width: 1000px;
   
    
}
.Home {
    width: 100%;
    display: block;
    padding-left: 50px;;
}
.Image {
    border: 5px solidlinear-gradient(white, rgba(61, 22, 22, 0.226), black);
    background-image: linear-gradient(white, rgba(61, 22, 22, 0.226), black);
    margin:-5px;
    display: flex;
    position: relative;
    width: 60%;
    margin-left: 150px;
    margin-bottom: 50px;
}
.Static {
    display: flex;
    width: 100%;
}
.Admin {
  
    background-color: transparent;
    display: block;
    width: 100%;
}
.Menu {
    background-image: linear-gradient(white, rgba(61, 22, 22, 0.226), black);
    display: flex;

    border: 5px solid linear-gradient(grey, rgba(61, 22, 22, 0.226), grey);;
    display: flex;
    width: 20%;
    position: relative;
    margin-bottom: 50px;
}
/* menu & layout: display:flex /20/70 */
.Products {
    border: 2px solid white;
    background-image: linear-gradient(black, rgba(61, 22, 22, 0.226), black);
    padding: 20px 30px;
    margin: 5px 500px;
    color:white;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;

}
.PCategory {
    border: 2px solid white;
    background-image: linear-gradient(black, rgba(61, 22, 22, 0.226), black);
    padding: 20px 30px;
    /* margin: 5px 200px; */
    color:white;
    display: block;
    flex-wrap: wrap;
    width: 1500px;  
    padding-bottom: 50px; 
    text-align: center;
}
/* p {
    display: block;
} */