* {
    /* height: 100%; */
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}
html {
    background-image: url(../static/static1.squarespace.1486151234.png);

    box-sizing: border-box;
    /* height: 100%; */
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
img {
    padding: 50px;
    orientation:inherit;
    height: 600px;
    width: 1200px;
   
    
}
.Home {
    width: 100%;
    display: block;
    padding-left: 50px;;
}
.Image {
    border: 5px solidlinear-gradient(white, rgba(61, 22, 22, 0.226), black);
    background-image: linear-gradient(white, rgba(61, 22, 22, 0.226), black);
    margin:-5px;
    display: flex;
    position: relative;
    width: 60%;
    margin-left: 50px;
    margin-bottom: 50px;
}
.Static {
    display: flex;
    width: 100%;
}
.Admin {
  
    background-color: transparent;
    display: block;
    width: 100%;
}
.Menu {
    background-image: linear-gradient(white, rgba(61, 22, 22, 0.226), black);
    display: flex;

    border: 5px solid linear-gradient(grey, rgba(61, 22, 22, 0.226), grey);;
    display: flex;
    width: 20%;
    position: relative;
    margin-bottom: 50px;
}
/* menu & layout: display:flex /20/70 */