
    <main>
        <h1>Register</h1>
          {{#if errorMesage}}
    <p class="message">{{errorMesage}}</p>
    {{/if}}
        <p class="form-info">Already registered?
            <a href="/user/login">Login now</a> and have some fun!
        </p>
        <form action="/user/register" method="POST">
            <div>
                <input type="email" name="email" placeholder="Email...">
            </div>
            <div>
                <input type="text" name="fullname" placeholder="Full name...">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div>
                <input type="password" name="rePassword" placeholder="Re-password">
            </div>
            <div>
                <p class="message"></p>
                <button>Register</button>
            </div>
        </form>
    </main>
   