.View {
    border: 2px solid white;
    background-image: linear-gradient(black, rgba(61, 22, 22, 0.226), black);
    padding: 20px 30px;
    margin: 5px 50px;
    color:white;
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
margin-right: 10%;
}
.BackgroundAdmin {
    background-image: url(https://image.freepik.com/free-vector/abstract-metallic-blue-background-texture_52683-20746.jpg);

}