
h1 {
    text-align: left;
    padding-left: 50px;
    color: var(--main-orange);
}
.InfoP {
    color: rgb(6, 52, 92);
    text-align: left;
    margin-left: -150px;  
    /* font-size: 26px;  */
}
.Info {
    color: white;
    text-align: left;
    /* margin-left: -50px;    */
}

.Register {
    margin-bottom:5%;
    display: block;
    background-image: linear-gradient(white, rgba(61, 22, 22, 0.226), black);
    padding-left: 250px;
    padding-bottom: 2%;
  
    padding-top: 1%;
    width: 800px;
    margin-top: 3%;
    margin-left: 450px; 
 font-size: 30px;
    text-align: left;
}
.RegisterBtn {
    color: antiquewhite;
    font-size: 18px;
    margin-right: 55%;
    margin-top: 5%;
    text-align: center;
    height: 30px;
    width: 170px;
    background-color: rgb(5, 43, 25);
}
.Button {
    text-decoration: none;
    color: antiquewhite;


}
/* input, */
.Label {
    margin: 0 auto;
    color: var(--main-blue);
  text-align: left;
  font-size: 24px; 
 
}

/* label {
    font-weight: bold;
}  */

.Input {
    /* height: 30px; */
    height: 10px;
    display:flex;
    padding: 1%;
    width: 360px;
   
    font-size: 18px;
    border: 2px solid brown;
    border-left: 2px solid rgba(165, 42, 42, 0.068);

    border-bottom: 1px solid var(--main-blue);
}
/* label {
    display:flex; 
} */

.Isdanger {
    width: 360px;
    background-color: red;
    color:white;
    font-size: 14px;
}
.Issuccess {
    width: 360px;
    background-color: green;
    color:white;
    font-size: 14px;
}
.Notification {
    width: 360px;  
}